/* Body background color */
body {
    background: #0d0d6e;
}

/* Heading */
.heading {
    color: #464040;
}

/* Timer */
.timer {
    color: #ffffff;
    text-align: center;
    width: 20rem;
    height: 20rem;
    border: 5px solid #fff;
    border-radius: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    width: 100%;
}

/* Remove the padding on the button */
.btn {
    padding: 0;
}

/* Start and reset icons */
.fa-play,
.fa-redo-alt {
    color: #fdfdfd;
    border: 2px solid transparent;
    padding: 1rem;
    border-radius: 2rem;
}

.fa-play:hover,
.fa-redo-alt:hover {
    color: #bae8e8;
    border: 2px solid #bae8e8;
    transition: 0.3s ease;
}

.show_message {
    display: block;
    padding: 1rem 0;
    color: #272323;
    background: #ffffff;
    border-radius: 0.5rem;
    transition: 0.5s ease;
}
